.header{
    background: #365899;
    width: 100%;
    height: 85px;
}
body{
    margin:0;
    font-family: Roboto,helvetica neue,helvetica,arial,sans-serif;
    color: BLACK;

}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
    padding-top: 9px;
}
.sub-btn{
    background-color: #4267b2;
    color: #fff;
    border-color: #29487d;
    border-width: 1px;
    cursor: pointer;
}
.Forgotten{
    
    text-decoration: none;
    font-size: 15px;
    color: #9cb4d8


}
.sub-btn:hover{
    background:cornflowerblue;
}



.logo-text{
    text-decoration: none;
    font-size: xxx-large;
    color: #fff;
    font-weight: 600;
    font-family: Roboto,helvetica neue,helvetica,arial,sans-serif;
    margin-left: 95px;
}
.logincontrols{
    margin-left: 115px;}
.main-body{   
        background: linear-gradient(white,#D3D8E8);
       width: 100%;
       height: 500px;}

.leftsection{
    width:50%;
    
    
    
}
.rightsection{
    width:50%;
    float:right;
    margin-top: -136px;
}


.image{
    width:417px;
    padding-left: 17px;
}
.para{
    color: #323d66;
    font-size: 25px;
    font-weight: bold;
    padding-left: 27px;
}
.heading{
    color: black;
    margin-top: -104px;
    padding-left: 115px;
}
.para3{
    margin-left: 154px;
    margin-top: -18px;
    

    color: black;
}



.FirstName{
    
    height: 26px;
    width: 152px;
    border-radius: 4px;
    font-size: 16px;
    border-color: white
}
.SecondName{
    height: 26px;
    width: 152px;
    border-radius: 4px;
    font-size: 16px;
    border-color: white
}
.Name{
    margin-left: 151px;
  
}
.Email{
    margin-top: 10px;
    margin-left: 151px;
    height: 26px;
    width: 317px;
    border-radius: 4px;
    font-size: 16px;
    border-color: white
}
.Password{
    margin-top: 10px;
    margin-left: 151px;
    height: 26px;
    width: 317px;  
    border-radius: 4px;
    font-size: 16px;
    border-color: white
}
.para4{
    color: #a79d9d;
    margin-left: 152px;
    margin-top: 18px;
    font-weight: bold;
}
.DateOfBirth{
    margin-left:152px
}
.Button{
    border-radius: 24px;
    border-width: 1px;
    border-color: grey;
    background: grey;
    width: 15px;
    height: 13px;
   text-align: center;
   font-size: 11px;
   color: white;
   padding-left: 5px;
   padding-bottom: 12px;

}
Button:hover{
    cursor: pointer;
}


.Gender{
    color: #a79d9d;
    margin-left: 152px;
    margin-top: 18px;
    font-weight: bold;
}
.accountInput{
    margin-left: 151px;
}
.LinksText{
    
    color: grey;
    padding-top: 18px;
    font-size: 12px;
    padding-left: 152px;
}
.Link{
    text-decoration: none
}
.SignUp{
    margin-left: 158px;
    margin-top: 23px;
    width: 131px;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
}
.SignUp:hover{
    cursor: pointer;
}
.para5{
    padding-left: 156px;
    font-weight: bold;
    color: grey;
}

.CreateAPage{
    text-decoration: none;
}
.Footer{
    font-size: 11px;
}